@import '@fontsource/inter';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  --background: #ffffff;
  --foreground: #171717;
  height: 100%;
  width: 100%;
  @apply font-inter text-[13px] font-normal;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
